/* 
Accents: #23bbd6;
normal blue; #3d5af1;
darker blue: #0e153a;
*/

body {
    margin: 0px;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.superTitle {
  font-size: 45px;
  font-weight: 800;
}

nav, h1, h2, h3, h4, h5, h6 {  
    font-family: 'Poppins', sans-serif;
}

.row {
  margin: 0px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 19px;
}

.hidden {
  display: none;
}

/* ------ NAVBAR ------ */

nav.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    padding-top: 13px;
    padding-bottom: 13px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

nav.navbar .logo {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

nav.navbar .navbar-toggler {
    border: none;
}

nav.navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav.navbar .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

a.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: #ffffff;
}


nav.fixed-top {
  position: fixed;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: #fff;
  box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.3);
}

nav.fixed-top .navbar-brand {
  color: #000;
}

nav.fixed-top .logo:focus, nav.fixed-top .logo:hover {
  color: #000;
}

nav.fixed-top .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav.fixed-top .logo {
  color: black;
}

nav.fixed-top .nav-item .nav-link {
  color: #999 !important;
}

nav.fixed-top a.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: #000;
}

nav.fixed-top .nav-link.active {
  color: #000 !important; 
}

/* ---- END NAVBAR ---- */

/* ---- HERO ---- */
#hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/hero1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#hero-image::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 4, 4, 0.7);
  
}

#hero-text {
  color: white;
  margin: auto 3rem auto 3rem;
  text-align: center;
  z-index: 1;
}

#hero-name {
font-size: 60px;
font-weight: 800;
margin-bottom: 10px;
}

.mouse-icon {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  border: 3px solid #23bbd6;
  border-radius: 15px;
  height: 42px;
  width: 30px;
  z-index: 3;
}

.mouse-icon .wheel {
  background: #fff none repeat scroll 0 0;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  height: 8px;
  width: 3px;
  animation: down 1s infinite linear ;
  -webkit-animation: down 1s infinite linear;
  animation-play-state: running;
  -webkit-animation-play-state: running;
  z-index: 3;
}

@keyframes down {
  0%{
    top: 4px;
    opacity: 1;
  }
  100% {
    top: 30px;
    opacity: 0;
  }
}

@-webkit-keyframes down {
  0%{
    top: 4px;
    opacity: 1;
  }
  100% {
    top: 30px;
    opacity: 0;
  }
}

/* ---- END HERO ---- */

/* ---- ABOUT ---- */
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0px;
  padding-top: 70px;
  padding-bottom: 70px;
  min-height: 100vh;
}

#profile_image_div {
  text-align: center;
}

#personal_info_div {
  display: grid;
  align-items: center;
}

#skills-list {
  list-style-type: none;
  text-align: center;
  padding: 0px;
}

#skills-list li {
  display: inline-block;
  margin: 10px 5px auto 5px;
}

.language-logo-w90 {
  width: 90px;
  height: 100px;
}

.language-logo-w100 {
  width: 100px;
  height: 100px;
}

.language-logo-w130 {
  width: 130px;
  height: 100px;
}

.language-logo-css {
  width: 110px;
  height: 105px;
}

/* todo: ADD MEDIA QUERIES FOR DIFFERENT WIDTHS & HEIGHTS */
@media only screen and (max-width: 1440px){
  /* #profile_image_div img {
    width: 441px;
    height: 523px;
  }  */
}

@media only screen and (max-width: 1024px){
  #profile_image_div img {
    width: 341px;
    height: 450px;
  } 
}

@media only screen and (max-width: 768px){
  #profile_image_div img {
    width: 341px;
    height: 450px;
  }
}

@media only screen and (max-width: 425px){
  #profile_image_div img {
    width: 241px;
    height: 323px;
  }

  .language-logo-w90 {
    width: 70px;
    height: 80px;
  }
  
  .language-logo-w100 {
    width: 90px;
    height: 90px;
  }
  
  .language-logo-w130 {
    width: 100px;
    height: 70px;
  }

  .language-logo-css {
    width: 100px;
    height: 95px;
  }
  
}

/* ---- END ABOUT ---- */

/* ---- PROJECTS ---- */
#projects {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
  min-height: 100vh;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.card {
  width: 30rem;
  height: 20rem;
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s;
}

.mix {
  position: relative;
}

section:nth-of-type(2) .text, section:nth-of-type(2) .button {
  transition: all 0.3s ease-in-out;
  text-align: center;
  opacity: 0;
  z-index: 2;
}

section:nth-of-type(2) a.button{
  text-decoration: none;
  color: black;
}

.text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid #23bbd6;
  font-size: 13pt;
  margin: 0 auto;
  padding: 7px 0;
  width: 170px;
}

.text p {
  color: #23bbd6;
}

section:nth-of-type(2) .mix:hover .card {
  opacity: 0;
}

section:nth-of-type(2) .mix:hover .text {
  top: 24%;
  opacity: 1;
}

section:nth-of-type(2) .mix:hover .button {
  opacity: 1;
  bottom: 30%;
}

section:nth-of-type(2) .button:hover {
  color: white;
  background-color: #23bbd6;
}


@media only screen and (max-width: 425px){
  .card {
    width: 22rem;
    height: 12rem;
  }

  .button {
    padding: 5px 0;
  }

  section:nth-of-type(2) .mix:hover .text {
    top: 20%;
  }
  
  section:nth-of-type(2) .mix:hover .button {
    bottom: 25%;
  }
}

@media only screen and (max-width: 375px){
  .card {
    width: 18rem;
    height: 12rem;
  }
}


#wildlife_tracker {
  background: url('../img/projects/wildlife/wildlife_tracker.png') center center/cover;
}

#gitsearch {
  background: url('../img/projects/gitsearch/gitsearch.png') center center/cover;
}

#pigdice {
  background: url('../img/projects/pigdice/pigdice.png') center center/cover;
}

#lifeline {
  background: url('../img/projects/lifeline/health.png') center center no-repeat;
  background-color: #fff;
}


/* ---- CONTACT ---- */

#contact {
  background-color: #444;
  padding-top: 10rem;
  padding-bottom: 100px;
  min-height: 100vh;
  color: white;
  position: relative;
}

form {
  margin: auto 25rem auto 25rem;
}

@media only screen and (max-width: 1440px){
  form {
    margin: auto 15rem auto 15rem;
  }
}

@media only screen and (max-width: 1024px){
  form {
    margin: auto 10rem auto 10rem;
  }
}

@media only screen and (max-width: 768px){
  form {
    margin: auto 6rem auto 6rem;
  }
}

@media only screen and (max-width: 425px){
  form {
    margin: auto 3rem auto 3rem;
  }
}

@media only screen and (max-width: 320px){  
  form {
    margin: auto 2rem auto 2rem;
  }
}

#submit {
  display: block;
  margin: auto;
}

#footer {
  background-color: rgba(10, 10, 10, 1);
  margin: 0px;
  padding: 15px 20rem 15px 20rem;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}
#footer p {
  font-size: 14px;
  margin: 0px;
}
.spacer {
  flex: 1;
}

@media only screen and (max-width: 1440px){
  #footer {
    padding: 15px 15rem 15px 15rem;
  }
}

@media only screen and (max-width: 1024px){
  #footer {
    padding: 15px 10rem 15px 10rem;
  }
}

@media only screen and (max-width: 768px){
  #footer {
    padding: 15px 6rem 15px 6rem;
  }
}

@media only screen and (max-width: 425px){
  #footer {
    padding: 15px 2rem 15px 2rem;
  }
}

@media only screen and (max-width: 320px){  
  #footer {
    padding: 20px 1rem 20px 1rem;
  }
}

.fab-icon {
  margin: 0px 10px 0px 0px;
  font-size: 25px;
  color: #f4f4f4;
}

.fab-icon:hover {
  color: #23bbd6;
}

/* ---- END PROJECT ---- */
